@import '../../scss/mixins';
@import '../../scss/variables';

.__search-wrapper {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    scroll-snap-align: start;
    

    .__search-text-top {
        width: 100%;
        color: #ffd83a;
        padding-bottom: 10px;
        font-size: 1.5rem;
    }
    .__search-form-wrapper {

        width: 100%;
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 5px 15px;
        border-radius: 20px;
        box-shadow: 3px 6px 9px 1px rgba(0, 0, 0 , 0.32);
     

        #__search-input {
            margin: 0 5px;
            background-color: rgba(0, 0, 0, 0);
            border: 0;
            color: #000;
            width: 100%;
            height: 100%;
            font-size: 1.2rem;
            padding: 3px 0;
        }
        #__search-btn {
            border: 0;
            background-color: rgba(0, 0, 0, 0);
            color: #000;
            font-size: 1.2rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    
}
