@import '../../../scss/variables';

h1 {
    margin: 0;
    color: white;
}
#root {
    overflow: hidden;
}

.main-container {
    width: 100%;
    min-height: 100%;
    margin: 0em;
    padding: $content-spacing;

    z-index: $view-z-index;

    overflow-y: auto;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;

    .contents-container {
        // width: 100%;
        height: 100%;
        scroll-snap-align: start;
        padding: 0 $content-spacing 0 $content-spacing;
        .contents-wrapper {
            width: 100%;
            max-width: 100%;
            padding-top: $navbar-height + $content-spacing;
        }
    }
}
