@import '../../scss/mixins';
@import '../../scss/variables';

.wide-post-card-link {
    &:not(:last-child) .wide-post-card-container {
        margin-bottom: 25px;
    }

    .wide-post-card-container {
        box-shadow: 3px 3px 5px 0px #00000063;
        height: 230px;

        .wide-post-card-content {
            height: 100%;
            width: auto;
            display: flex;
            position: relative;
            flex-direction: column;
            justify-content: flex-end;
            margin: 0;

            $img-z-index: 100;
            $title-z-index: 101;
            .wide-post-card-img-container {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                z-index: $img-z-index;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow-y: hidden;
                border-radius: 5px;
                background: linear-gradient(0deg, #3d3d8440, transparent);
                .wide-post-card-img {
                    // border-radius: 5px;
                    max-width: 100%;
                    height: 100%;
                    &.placeholder {
                        background-color: $colors-gradient-color-3;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .wide-post-card-desc {
                min-height: 40px;
                z-index: $title-z-index;
                background-color: #fff;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                padding: 10px;
                .wide-post-card-desc-row {
                    &:last-child {
                        margin-top: 5px;
                    }
                    .wide-post-card-club-name {
                        color: #363636;
                        font-weight: 400;
                        font-size: 8px;
                    }
                    .wide-post-card-title {
                        color: #000;
                        font-weight: 600;
                    }
                    .wide-post-card-create-date {
                        color: #363636;
                        font-size: 6px;
                    }

                    &.row {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        color: #363636;
                        font-size: 6px;
                        span {
                            margin-right: 3px;
                            b {
                                margin-left: 3px;
                            }
                        }
                    }
                }
            }
        }
    }
}
