@import '../../../scss/variables';

.qna-detail-view-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1 0 auto;

    // user-info 부분이 자주 사용되어 별도로 분리
    .__qna-detail-view-user-info-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        .__qna-detail-view-user-info-name {
            font-size: 0.8rem;
            font-weight: 600;
            margin-left: 10px;
        }

        &.my-comment {
            .__qna-detail-view-user-info-name {
                color: $colors-gradient-color-2;
            }
        }
    }

    .qna-detail-view-header-container {
        display: flex;
        flex-direction: column;
        margin: $content-spacing + 10;
        margin-bottom: 0;
        .qna-detail-view-header-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 10px;
            &.end {
                align-items: flex-end;
            }
            &.center {
                align-items: center;
            }

            .qna-detail-view-title {
                font-size: 1.3rem;
                font-weight: 600;
            }
            .qna-detail-view-sub-text {
                font-size: 0.8rem;
                color: $colors-text-sub;
            }
        }
    }

    .qna-detail-view-content-container {
        display: flex;
        flex-direction: column;
        margin: 0 $content-spacing + 10;
        padding: $content-spacing 0;

        .qna-detail-view-content-text {
            word-break: break-all;
        }
    }

    .qna-detail-reply-list-container {
        background-color: #cea7c9;
        flex: 1 0 auto;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        display: flex;
        flex-direction: column;
        .qna-detail-reply-list-wrapper {
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            .qna-detail-reply-list-title {
                font-size: 1.2rem;
                font-weight: 600;
                color: #5a2052;
                margin: $content-spacing $content-spacing 0 $content-spacing;
            }
            .qna-detail-reply-list-items-container {
                overflow-y: auto;
                padding-bottom: 60px;
                .qna-detail-reply-list-item {
                    margin: $content-spacing;
                    padding: $content-spacing;
                    border-radius: 10px;
                    box-shadow: 0px 1px 3px $colors-dark-alpha;
                    background-color: $colors-white;

                    &:not(:last-child) {
                        margin-bottom: 15px;
                    }

                    .qna-detail-reply-list-item-row {
                        position: relative;
                        &:not(:first-child) {
                            border-top: 1px solid $colors-light-gray;
                            margin-top: 10px;
                            padding-top: 10px;
                            padding-left: $content-spacing;
                        }

                        > div:not(:last-child) {
                            margin-bottom: 10px;
                        }
                        .qna-detail-reply-list-item-user-row {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            button {
                                // color: $colors-text-sub;
                                display: flex;
                                align-items: center;
                                svg {
                                    margin-right: 5px;
                                }
                            }
                        }

                        .qna-detail-reply-list-item-content {
                            font-weight: 100;
                            font-size: 0.9rem;
                            word-break: break-all;
                        }
                        .qna-detail-reply-list-item-date {
                            font-size: 0.6rem;
                            color: $colors-text-sub;
                        }
                        .qna-detail-reply-list-item-decorator {
                            position: absolute;
                            left: 0;
                            color: $colors-text-sub;
                            font-size: 0.8rem;
                            top: 16px;
                        }
                    }
                }

                .qna-detail-reply-list-items-empty {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    > p {
                        color: $colors-white;
                    }
                }
            }
        }
        .qna-detail-reply-list-add-form {
            position: fixed;
            width: 100%;
            height: max-content;
            bottom: 0;
            box-shadow: 0 0px 3px $colors-dark-alpha;
            background-color: #cea7c9;

            .qna-detail-reply-list-add-form-wrapper {
                display: flex;
                flex-direction: row;
                margin: $content-spacing;

                .qna-detail-reply-input-wrapper {
                    width: 100%;
                    padding: 0px 10px;
                    border-radius: 5px;
                    border: 0;
                    box-shadow: 0px 1px 3px $colors-dark-alpha;
                    background-color: $colors-white;
                    display: flex;
                    align-items: center;
                    #__reply-comment-user-name {
                        color: $colors-material-blue;
                        font-size: 0.8rem;
                        width: max-content;
                        line-height: 0;
                        margin-right: 5px;
                    }
                    #__reply-content {
                        background-color: rgba(0, 0, 0, 0);
                        border: 0;
                        height: 100%;
                        flex-grow: 1;
                    }
                }
                #__reply-submit-btn {
                    padding: 5px;
                    width: 60px;
                    margin-left: 10px;
                    background-color: $colors-purple;
                    border-radius: 5px;
                    color: $colors-white;
                    box-shadow: 0px 1px 3px $colors-dark-alpha;
                }

                #__reply-cancel-btn {
                    padding: 5px;
                    width: 60px;
                    margin-left: 10px;
                    background-color: $colors-light-gray;
                    border-radius: 5px;
                    color: $colors-white;
                    box-shadow: 0px 1px 3px $colors-dark-alpha;
                }
            }
        }
    }
}
