@import '../../scss/variables';
@import '../../scss/mixins';

.__circle-framed-image-container {
    overflow: hidden;
    border-radius: 50%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    .__circle-framed-image-wrapper {
        margin: 2px;
        overflow: hidden;
        flex-shrink: 1;
        display: flex;
        justify-content: center;
        background-color: #fff;
        .__circle-framed-image {
            height: 100%;
            flex-shrink: 0;
            flex-grow: 0;
            border-radius: 50%;
        }
    }
}
